body
{
	
}
.details
{
	background: silver;
	padding-top: 17px;
	padding-bottom: 25px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.general
{
	text-align: center;
}
.admin_title
{
	background: #6A4B31;
	color: #fff;
	margin-left: 50px;
	margin-right: 50px;
	height: 140px;
	line-height: 140px;
}
.dashboard
{
	background: aquamarine;
	color: black;
	margin-left: 50px;
	margin-right: 50px;
	height: 140px;
	font-size: 20px;
}
.add_student
{
	background: yellow;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 88px;
	height: 371px;
}

.update_student
{
	background: yellow;
	margin-left: 50px;
	margin-right: 50px;	
}
.edit_container
{
	align:center;
	margin-left: 50px;
	margin-right: 50px;
}
table,th,td
{
	border:1px solid;
}
table
{
	width:100%;
}
th
{
	background: gray;
	color:white;
}
td
{
	text-align: center;
}
input
{
	background: none;
	height: 36px;
	font-size: 20px;
	text-align: center;
	margin:5px;
}